web/.editorconfig
web/.gitignore
web/angular.json
web/package-lock.json
web/package.json
web/README.md
web/server.ts
web/tsconfig.app.json
web/tsconfig.json
web/tsconfig.spec.json
web/.vscode/extensions.json
web/.vscode/launch.json
web/.vscode/tasks.json
web/src/favicon.ico
web/src/index.html
web/src/main.server.ts
web/src/main.ts
web/src/styles.sass
web/src/app/app.component.html
web/src/app/app.component.sass
web/src/app/app.component.spec.ts
web/src/app/app.component.ts
web/src/app/app.config.server.ts
web/src/app/app.config.ts
web/src/app/app.routes.ts
web/src/assets/.gitkeep
web/.vscode/extensions.json
web/.vscode/launch.json
web/.vscode/tasks.json
