<section id="articles">
    <article  class="magenta pico">
        <div><span class="picoIcon hoja"></span><div class="col"><small>Picofly</small><h1>Liberá tu consola</h1></div></div>
        <p>Instalamos el chip Picofly para liberar tu consola, permitiéndote ejecutar copias de tus juegos originales :)</p>
    </article>
    <article  class="green online">
        <div><span class="picoIcon nube"></span><div class="col"><small>Online</small><h1>Sigue online</h1></div></div>
        <p>Dual boot: Tus juegos online en un sistema y tus copias de seguridad en otro sistema.100% Antibaneo </p>
    </article>
    <article  class="deeppink emmu">
        <div><span class="picoIcon nene"></span><div class="col"><small>Apps</small><h1>Store</h1></div></div>
        <p>Te instalamos una "App Store" para que puedas bajar la app que quieras sin necesidad de usar una computadora.</p>
    </article>
    <article  class="coral pico">
        <div><span class="picoIcon ala"></span><div class="col"><small>Demora</small><h1>Cuánto demora?</h1></div></div>
        <p>La instalación tiene una demora máxima de 4 días.</p>
    </article>
    <article  class="darkturquoise online">
        <div><span class="picoIcon mario"></span><div class="col"><small>Precio</small><h1>El mejor precio</h1></div></div>  
        <p>Te ofrecemos el mejor precio del mercado.Consultanos por whatsapp o mail.</p>
    </article>
    <article  class="cyan emmu">
        <div><span class="picoIcon osito"></span><div class="col"><small>Precio</small><h1>Dónde estamos?</h1></div></div>
        <p>Estamos en CABA, en el barrio de Caballito. Si estás lejos podes enviarla por correo.</p>
    </article>
</section>
