<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joystick Junkies</title>
</head>

<body>
    <div id="main">
        <div class="home">
            <section class="espaciador">
            </section>
            <section class="logoAndVideo">
                <!-- <video playinline="true" muted="true" loop="true" autoplay="" src="videos/hd.mp4" type="video/mp4" class="media-document mac video"></video> -->
                <h1>JOYSTICK JUNKIES</h1>
                <small>Nintendo Switch Modchips</small>
                <button><a routerLink="/reserva" routerLinkActive="active" ariaCurrentWhenActive="page" >Reservá tu Chip</a></button>
            </section>
            <section id="articles">
                <article  class="magenta pico">
                    <small>Picofly</small>
                    <h1>Chip RP2040</h1>
                    <p>Extiende las funcionalidades de tu consola y ejecuta copias de seguridad de tus juegos.</p>
                </article>
                <article  class="green online">
                    <small>Online</small>
                    <h1>Sigue online</h1>
                    <p>Sigue jugando online como siempre.</p>
                </article>
                <article  class="cyan emmu">
                    <small>Emmunand</small>
                    <h1>Emmu... WHAT?</h1>
                    <p>Al tener chip podemos botear entre 2 sistemas, el original y una copia <small class="red">(EMMUNAND)</small>.Nuestras apps y juegos bajados los instalamos en la Emmunand.</p>
                </article>
                <article  class="coral pico">
                    <small>Demora</small>
                    <h1>Cuánto tarda?</h1>
                    <p>Una vez que tenemos tu consola en nuestras manos la demora de instalación tiene un máximo de 2 días.</p>
                </article>
                <article  class="darkturquoise online">
                    <small>Precio</small>
                    <h1>Cuánto me sale?</h1>
                    <p>Normal y lite:100K <br> Oled:150k</p>
                </article>
                <article  class="deeppink emmu">
                    <small>Requisitos</small>
                    <h1>Micro SD</h1>
                    <p> Como requisito obligatorio necesitas una memoria Micro Sd de 128GB (como minimo)</p>
                </article>
            </section>
           <!--  <button>Reservá tu Chip</button> -->
        </div>
    </div> 
</body>
</html>


