<section id="articles">
    <article  class="magenta pico">
        <div><span class="picoIcon hoja"></span><div class="col"><small>Picofly</small><h1>Libera tu consola</h1></div></div>
        <p>Chipeamos tu Nintendo Switch para que puedas instalar aplicaciones y ejecutar copias de seguridad de tus juegos.</p>
    </article>
    <article  class="green online">
        <div><span class="picoIcon nube"></span><div class="col"><small>Online</small><h1>Sigue online</h1></div></div>
        <p>Configuramos tu consola para que puedas tener 2 versiones del sistema: una para jugar online y otra para ejecutar tus aplicaciones homebrew y copias de seguridad de tus juegos.</p>
    </article>
    <article  class="coral pico">
        <div><span class="picoIcon ala"></span><div class="col"><small>Demora</small><h1>Cuánto demora?</h1></div></div>
        <p>La instalación tiene una demora máxima de 2 días.</p>
    </article>
    <article  class="darkturquoise online">
        <div><span class="picoIcon mario"></span><div class="col"><small>Precio</small><h1>El mejor precio</h1></div></div>  
        <p>Te ofrecemos el mejor precio y todas las opciones de pago.</p>
    </article>
    <article  class="deeppink emmu">
        <div><span class="picoIcon nene"></span><div class="col"><small>Requisitos</small><h1>Micro SD</h1></div></div>
        <p>Como requisito obligatorio necesitas una memoria Micro Sd de 128GB (como minimo).</p>
    </article>
    <article  class="cyan emmu">
        <div><span class="picoIcon osito"></span><div class="col"><h1>Dónde estamos?</h1></div></div>
        <p>Estamos en CABA, en el barrio de Caballito. Si estás lejos podes enviarla, la chipeamos y te la enviamos por correo.</p>
    </article>
</section>
